.topbar{
    width:100%;
    background:#1d1d1d;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:10px 40px;

    font-size:14px;
    font-weight:600;
}

.topbar-center{
    color:#5fd46d;
}

@media(max-width:768px){

.topbar{

flex-direction:column;

gap:10px;

padding:10px;

text-align:center;

}

}