.hero{

width:100%;

min-height:650px;

background:#1f2024;

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

color:white;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:70px;

font-weight:bold;

line-height:85px;

margin-bottom:20px;

}

.hero-left span{

color:#5fd46d;

}

.hero-left p{

font-size:22px;

line-height:35px;

color:#ddd;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.shop-btn{

background:#5fd46d;

border:none;

padding:15px 35px;

border-radius:40px;

font-size:18px;

cursor:pointer;

color:white;

font-weight:bold;

}

.service-btn{

background:transparent;

border:2px solid #5fd46d;

padding:15px 35px;

border-radius:40px;

font-size:18px;

cursor:pointer;

color:#5fd46d;

font-weight:bold;

}

.shop-btn:hover{

background:#41b953;

}

.service-btn:hover{

background:#5fd46d;

color:white;

}

.hero-right{

width:45%;

display:flex;

justify-content:center;

}

.hero-right img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}

@media(max-width:991px){

.hero{

flex-direction:column;

padding:40px 20px;

text-align:center;

}

.hero-left{

width:100%;

}

.hero-right{

width:100%;

margin-top:40px;

}

.hero-left h1{

font-size:45px;

line-height:55px;

}

.hero-left p{

font-size:18px;

}

.hero-buttons{

justify-content:center;

flex-wrap:wrap;

}

}