.checkout{

display:flex;

gap:30px;

padding:30px;

}

.checkout-left{

flex:2;

}

.checkout-right{

flex:1;

border:1px solid #ddd;

padding:20px;

border-radius:10px;

}

.address-card{

border:1px solid #ddd;

padding:15px;

margin-bottom:15px;

border-radius:10px;

cursor:pointer;

}

.checkout button{

margin-top:20px;

width:100%;

padding:12px;

background:#0d6efd;

color:white;

border:none;

cursor:pointer;

border-radius:8px;

}