.dashboard-card{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.dashboard-card h4{

color:gray;

margin-bottom:10px;

}

.dashboard-card h2{

color:#5fd46d;

font-size:35px;

}