.modal-overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.5);

display:flex;

justify-content:center;

align-items:center;

}

.modal{

background:white;

padding:30px;

width:400px;

border-radius:10px;

}

.modal h2{

margin-bottom:15px;

}

.modal input{

width:100%;

padding:10px;

margin:20px 0;

font-size:16px;

}

.modal-buttons{

display:flex;

justify-content:flex-end;

gap:10px;

}

.save-btn{

background:#28a745;

color:white;

border:none;

padding:10px 20px;

cursor:pointer;

}

.cancel-btn{

background:red;

color:white;

border:none;

padding:10px 20px;

cursor:pointer;

}